html {
  height: 100%;
}

body
{
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt Arial,Helvetica,sans-serif;
	background: #EFEFEF;
	min-height: 100%;
}

#page
{
	margin-top: 0px;
	margin-bottom: 5px;
	height: 100%;
}

#header
{
	margin: 0;
	padding: 0;
}

#content
{
    padding: 20px;
}

#sidebar
{
	padding: 20px 20px 20px 0;
}

#footer
{
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}

#logo
{
	padding: 10px 20px;
	font-size: 200%;
}

#mainmenu
{
  color:#fff;
	background:#7b9dea repeat-x left top;
	border-radius: 0 0 10px 10px;
}

#mainmenu ul
{
	padding:6px 20px 5px 20px;
	margin:0px;
}

#mainmenu ul li
{
	display: inline;
  margin: 5px;
  cursor: pointer;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 8px;
}

div.flash-error, div.flash-notice, div.flash-success
{
	padding:.8em;
	margin-bottom:1em;
	border:2px solid #ddd;
}

div.flash-error
{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}

div.flash-notice
{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}

div.flash-success
{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}

div.flash-error a
{
	color:#8a1f11;
}

div.flash-notice a
{
	color:#514721;
}

div.flash-success a
{
	color:#264409;
}

div.form .rememberMe label
{
	display: inline;
}

div.view
{
	padding: 10px;
	margin: 5px 0;
	border: 1px solid #C9E0ED;
	border-radius: 15px;
	height:35px;
}

div.breadcrumbs
{
	font-size: 0.9em;
	padding: 5px 20px;
}

div.breadcrumbs span
{
	font-weight: bold;
}

div.search-form
{
	padding: 10px;
	margin: 10px 0;
	background: #eee;
}

.portlet
{

}

.portlet-decoration
{
	padding: 3px 8px;
	background: #B7D6E7;
	border-left: 5px solid #6FACCF;
}

.portlet-title
{
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #298dcd;
}

.portlet-content
{
	font-size:0.9em;
	margin: 0 0 15px 0;
	padding: 5px 8px;
	background:#EFFDFF;
}

.portlet-content ul
{
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	margin: 0;
	padding: 0;
}

.portlet-content li
{
	padding: 2px 0 4px 0px;
}

.operations
{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.operations li
{
	padding-bottom: 2px;
}

.operations li a
{
	font: bold 12px Arial;
	color: #0066A4;
	display: block;
	padding: 2px 0 2px 8px;
	line-height: 15px;
	text-decoration: none;
}

.operations li a:visited
{
	color: #0066A4;
}

.operations li a:hover
{
	background: #80CFFF;
}

div.red
{
	color: #BB5555;
}
div.green
{
	color: #779977;
}
label{
	padding:2px;
}
.label-option{
	min-width: 50px;
	text-align: center;
}

.headerImage{
	background-image: url("/AngelOffice/images/petra_coffee_1.jpg");
	width: 800px;
    height: 200px;
	background-size: contain;
background-repeat: no-repeat;
margin: auto;
}

#logo
{
	background-image: url("/AngelOffice/images/2CoffeeMug.png");
	height: 150px;
	width: 100px;
	background-size: contain;
	background-repeat: no-repeat;
	display: block;
    float: left;


}
#contentHeader{
	height: 150px;
}


.book-icon{
	display: inline-block;
	float:left;
	padding: 25px;
}
.book-icon img{
	display:block;
}
.book-icon div{
	text-align: center;
	width: 100px;
}
